MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=letsplay
MONGO_INITDB_ROOT_USERNAME=fake_admin
MONGO_INITDB_ROOT_PASSWORD=fake_admin
JWT_SECRET=secret-key-secret-key-secret-key-secret-key-secret-key-secret-key
ADMIN_EMAIL=admin@letsplay.com
ADMIN_PASSWORD=ChangeMe123!
REDIS_PASSWORD=ChangeMe123!
SSL_KEYSTORE_PASSWORD=changeit
